@import url("https://fonts.googleapis.com/css?family=Laila:400,600|Scope+One&display=swap");

@import url("components/container.css");

body {
	font-family: 'Scope One', serif;
	font-size: 18px;
}
h1, h2, h3 {
	font-family: 'Scope One', serif;
	font-size: 25px;
	font-weight: bold;
}